# R
.Rproj.user/
.RData
.Rhistory

# Quarto output
_book/
_site/
statistic-book.Rmd

# LaTeX build artifacts
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# Bookdown intermediate files
_bookdown_files/
statistic-book_files/
statistic-book.aux
statistic-book.toc
statistic-book.log
statistic-book.out
statistic-book.fls
statistic-book.fdb_latexmk

/.quarto/
**/*.quarto_ipynb
