# R
.Rproj.user/
.RData
.Rhistory

# Quarto output
_book/
_site/
statistic-book.Rmd

# LaTeX build artifacts
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# Quarto PDF intermediate files
statistic-book_files/

/.quarto/
**/*.quarto_ipynb
